<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="APPSETTINGSConnectionString" connectionString="SERVER=ra-stes-sql02\instance01;DATABASE=APPSETTINGS;integrated security=sspi"/>
    <add name="EntitlementConnectionString" connectionString="SERVER=ra-stes-sql02\instance01;DATABASE=Entitlement;integrated security=sspi"/>
    <add name="PrimeConnectionString" connectionString="SERVER=ra-stes-sql03\instance01;DATABASE=RA;integrated security=sspi"/>
  </connectionStrings>
  <appSettings>
    <add key="ResearchLoggerAddress" value="http://localhost/researchlogger/api/log/"/>
    <add key="Environment" value="Localhost"/>
    <add key="AppIdToLogTo" value="86"/>
    <add key="ResearchLoggerEnabled" value="true"/>
    <add key="CachingTimespanHoursMinutesSeconds" value="0,10,10"/>
    <add key="secureDomains" value="ra-stes-web01,www.ftse.com"/>
    <add key="UseCaching" value="false"/>
    <add key="XmlDocumentPath" value="..\..\Resources\Xml\CodeLibrary.xml"/>
    <add key="BackUpSourcePath" value="C:\Downloads\Kapost\Attachments\"/>
    <add key="BackUpTargetPath" value="C:\Backups\KapostAttachments\"/>
    <add key="TnConfigPath" value="\\lg-cpms-fsr10a.lseg.stockex.local\FT-SE Direct\Technical Notices Test\exe\tnConfig.xml"/>
    <add key="RichTextFilePath" value="C:\TFSFiles\CodeLibrary\CodeLibrary\Resources\RichText\RichText.rtf"/>    
    <add key="HtmlTemplatePath" value="C:\TFSFiles\CodeLibrary\CodeLibrary\Resources\Templates\"/>     
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
